body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 1rem;
}

.main-content {
  text-align: center;
  margin: 20px;
}

.main-content h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.links a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f4f4f4;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

table {
  width: 80%;
  margin: 50px auto;
  border-collapse: collapse;
  text-align: left;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

tr,
td {
  text-align: center;
}

th {
  text-align: center;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

caption {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.form-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.generate-pdf-btn {
  background-color: #3498db;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
  .navbar{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar .logo {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  .navbar a {
    margin: 10px 0;
  }

  .main-content {
    margin: 10px;
  }

  .main-content h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    margin: 20px 0;
  }

  th,
  td {
    padding: 10px;
  }

  .form-container {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-container form {
    margin-bottom: 10px;
  }

  .generate-pdf-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}

/* For very small screens */
@media (max-width: 480px) {

  .navbar .logo {
    font-size: 1.2rem;
  }

  .main-content h1 {
    font-size: 1.2rem;
  }

  table {
    font-size: 14px;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
  }

  .generate-pdf-btn {
    padding: 10px;
    font-size: 14px;
  }

  .form-container button {
    font-size: 14px;
  }
}
